<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <style>
        div, p, h3, address, body, h2, th, td {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 95%;
        }

        table { page-break-inside:auto; }
    </style>
</head>
    <body>
        <div style="overflow: hidden;">
            <table style="width: 100%; border-collapse: collapse; margin-bottom: 20px; margin-top: 20px">
                <tr>
                    <td></td>
                    <td> Date</td>
                    <td></td>
                    <td>456456</td>
                    <td> </td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;"> BON DE LIVRAISON </td>
                    <td></td>
                </tr>
            </table>

            
            <table style="width: 80%; border: 2px solid black; padding-left: 15px; padding-right: 15px;  margin-left: auto; margin-right: auto;">
                <tr>
                    <td></td>
                    
                    <td>Societe </td> 
                </tr>
                <tr style="padding: 15px;">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align: center; padding: 30px;">IZY FRANCE</td> 
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>N° TVA Intracommunautaire :</td>
                    <td></td>
                    <td></td>
                    <td>Votre Codification Interne :</td>
                </tr>
            </table>

            <table style="width: 100%;">
                <tr>
                    <td>
                        <table style=" width: 80%; border: 2px solid black; margin-top: 20px ">
                            <tr>
                                <td style="text-align: center;">Adresse de LIVRAISON :</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>

                    <td>
                        <table style=" width: 80%; border: 2px solid black; margin-top: 20px; float:right; ">
                            <tr>
                                <td style="text-align: center;">Adresse de FACTURATION :</td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
           

          
           
        </div>
    </body>
</html>