{% extends 'front/mail/base-mail.html.twig' %}

{% block title %}Laboratoire Aeroma – code d'accès {% endblock %}
{% block content %}
    <p style="margin-top: 0px;">
        Bonjour,
    </p>
    <div style="color: #636363; font-size: 14px;">
        Votre code de d'accès est le : <strong>{{ code }}</strong> <br><br>

        Nous sommes à votre disposition au 0970704707 pour tout renseignement complémentaire<br>
        Bien cordialement, <br>
        Océane<br>
        Laboratoire Aeroma<br>


    </div>
{% endblock %}