<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <style>
            small {
            font-family: Arial, Helvetica, sans-serif;
            color: gray;
        }
        </style>
    </head>

    <body>
        <div class="" style="text-align: center; border-top: 1px solid rgb(158, 156, 156); text-align: center; padding: 10px;">
            <small>
                <p>
                    Laboratoire Aeroma SAS au capital de 185000€. <br>
                    Siret 800084720400016 Lille Métropole - 76,rue des frères Lumière-59560 comines <br>
                    Tél: 03.74.46.81.04, Fax : 03.20.39.73.47 Siret 80084720400016 <br>
                    N°TVA FR34800847204, IBAN FR76 13507001003112021219110  <br>
                    http//:www.aeroma.fr - e-mail : contact@aeroma.fr <br>
                </p>
            </small>
        </div>
    </body>
</html>