<div class="form-group">
    <label for="">Indiquez le numéro de devis renseigné
        <br><span style="font-size: 80%">(Laisser vide pour une numérotation automatique)</span></label>
    <input autocomplete="off" type="text" class="form-control" name="number">
</div>

<div class="form-group">
    <label for="">Indiquez la date du devis renseigné
        <br><span style="font-size: 80%">(Laisser le date d’aujourd’hui)</span></label>
    <input autocomplete="off" type="text" class="single-daterange form-control" name="date">
</div>

<div class="form-buttons-w d-flex justify-content-around">
    <input style="white-space: normal; height: auto;" class="btn btn-primary" name="nomail" type="submit" value="Générer le devis et ne pas adresser de mail">
    <input style="white-space: normal; height: auto;" class="btn btn-primary" name="sendmail" type="submit" value="Générer le devis et envoyer un e-mail au client">
</div>