<footer class="footer" style="background-color: white; position: relative !important; {{ style|default('') }}">
    
    <div class="container">
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-4">
                <div class="copyright">
                    © 2021 Laboratoire Aeroma.
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    {#Téléchargez: <a href="{{ asset('pdf/PLAQUETTEABSOLUCHANVRE.pdf') }}" target="_blank">la plaquette ABSOLU</a>#}
                </div>
                <div class="copyright mt-2">
                    Développement et maintenance: <a href="https://www.tana.team" target="_blank">TanaTeam</a>
                </div>
            </div>
            
        </div>
    </div>
</footer>